params {
  inputPath = "data/test.tsv"
  refdb = "$launchDir/data/database/GRCh37"
  alignmentStatsCommand = "samtools stats"
  resultDir = "$launchDir/output"
  libraryLayout = "paired"
  downloadMethod = "local"
  localFileLocation = "$launchDir/data/localFiles"
  markerToTaxonPath = "$launchDir/data/marker-to-taxon-id.tsv"
  bowtie2Command = "bowtie2 --omit-sec-seq --no-discordant --no-unal -a"
  summarizeAlignmentsCommand = 'marker_alignments --min-read-query-length 60 --min-taxon-num-markers 2 --min-taxon-num-reads 2 --min-taxon-better-marker-cluster-averages-ratio 1.01 --threshold-avg-match-identity-to-call-known-taxon 0.97  --threshold-num-taxa-to-call-unknown-taxon 1000 --threshold-num-markers-to-call-unknown-taxon 1000     --threshold-num-reads-to-call-unknown-taxon 1000'
  summaryFormat = "matrix"
  summaryColumn = "cpm"
}
process {
  container = "veupathdb/corral:latest"
}
docker {
    enabled = true
}
